<!DOCTYPE html>
<html lang="fr" layout:decorate="layout"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security5"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Cinémas</title>
</head>

<body>
<div layout:fragment="content">
    <div class="container-fluid mt-2 mb-4">
        <ul class="nav nav-pills">
            <li class="nav-item" th:class="${cityId-1 == status.index} ? 'active' : ''" th:each="city, status:${cities}">
                <a class="nav-link" th:href="@{/city(id=${status.index})}" th:text="${city.name}"></a>
            </li>
        </ul>
    </div>
    <div class="container">
        <div class="card mb-4">
            <div class="card-body">
                <form th:action="@{/index}" method="get">
                    <label>Rechercher un cinéma</label>
                    <input type="text" name="keyword" th:value="${keyword}">
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
            </div>
        </div>
        <div class="card">
            <div class="card-header text-bg-primary">Liste des cinémas</div>
            <div class="card-body">
                <table class="table">
                    <tr>
                        <th>Nom</th>
                        <th>Adresse</th>
                    </tr>
                    <tr th:each="cinema:${listCinema}">
                        <td ><a th:href="@{/cinema_detail(id=${cinema.id}, cityId=${cityId})}" th:text="${cinema.name}"></a></td>
                        <td th:text="${cinema.address}"></td>
                        <td sec:authorize="hasRole('ROLE_ADMIN')">
                            <a class="btn btn-danger" onclick="return confirm('Etes vous sur?')"
                               th:href="@{/deleteCinema(id=${cinema.id}, page=${currentPage}, keyword=${keyword})}">Delete</a>
                        </td>
                        <td sec:authorize="hasRole('ROLE_ADMIN')">
                            <a class="btn btn-success" th:href="@{/editCinema(id=${cinema.id})}">Update</a>
                        </td>
                    </tr>
                </table>
                <ul class="pagination">
                    <li th:class="${currentPage==status.index}?'active':''" th:each="page, status:${pages}">
                        <a class="page-link" th:href="@{/index(page=${status.index}, keyword=${keyword}, cityId=${cityId})}"
                           th:text="${status.index}"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

</body>
</html>